<ion-view view-title="Fragebogen">
  <ion-content class="padding">
    <div class="bar bar-header bar-stable"><h1 class="title">{{question.name}}</h1></div>
    <div style="padding-top: 45px">
      <ion-list ng-hide="hideSingleQuestion">
        <ion-radio ng-repeat="answer in possibleAnswers"
                   ng-model="$parent.$parent.answerAdapter[0].answerText"
                   ng-value="answer.name" ng-change="radioChanged(answer.id)">{{answer.name}}
        </ion-radio>
      </ion-list>

      <ion-list ng-repeat="answer in answerAdapter" ng-hide="hideMultiQuestion">
        <ion-checkbox ng-model="answer.checked">{{answer.answerText}}</ion-checkbox>
      </ion-list>

      <ion-list ng-repeat="answer in answerAdapter" ng-hide="hideRatingQuestion">
        <label>{{answer.answerText}}</label>
        <div class="item range">
          <i class="icon ion-minus-round"></i>
          <input type="range" min="0" max="100" ng-model="answer.value">
          <i class="icon ion-plus-round"></i>
        </div>
      </ion-list>

      <div ng-repeat="answer in possibleAnswers" ng-hide="hideTextQuestion">
        <label>{{answer.name}}</label>
        <label class="item item-input">
          <input type="text" ng-model="answerAdapter[0].answerText"/>
        </label>
      </div>

      <br><br><br><br><br>
      <div class="button" ng-click="goToNextSite()">Nächste Frage</div>
    </div>
  </ion-content>
</ion-view>
