<ion-view view-title="Aufgaben">
  <ion-content>
    <ion-list>
      <h3>Zugewiesene Aufgaben</h3>
      <div ng-controller="TaskListCtrl">
        <div ion-view></div>
        <ion-item  class="item"  ng-repeat="task in $storage.patient.assignedTherapyTasks"
                   class="item-avatar item-icon-right" type="item-text-wrap" ui-sref="tab.task-detail({taskId : $index})" >
          <h2>{{task.Pattern}}</h2>
          <div ng-repeat="weekday in task.ActualContext.OnWeekdays">
            <p>{{weekday}}</p>
          </div>
        </ion-item>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
