<ion-view view-title="{{currentTask.Pattern}}">
  <ion-content>
    <div ng-controller="TaskDetailCtrl">
      <div class="card">
        <div class="item item-divider">
          Beschreibung
        </div>
        <div class="item item-text-wrap">
          {{taskPattern.description}}
        </div>
        <div class="item item-text-wrap">
          <!-- {{currentTask.materials[0]}} -->
        </div>
      </div>

      <div class="list card" ng-controller="TaskDetailCtrl">
        <div class="item item-divider">
          Angehängt Materialien
        </div>

        <a ng-repeat="material in taskPattern.materials" href="{{material}}" class="item item-icon-left">
          <i class="icon ion-home"></i>
          {{material}}
        </a>
      </div>


    </div>
  </ion-content>
</ion-view>



